<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (agencyService()) {
      <div>
        <h2 data-cy="agencyServiceDetailsHeading"><span jhiTranslate="travelApp.agencyService.detail.title">Agency Service</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ agencyService()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.agencyService.title">Title</span></dt>
          <dd>
            <span>{{ agencyService()!.title }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.agencyService.icon">Icon</span></dt>
          <dd>
            <span>{{ agencyService()!.icon }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.agencyService.content">Content</span></dt>
          <dd>
            <span>{{ agencyService()!.content }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/agency-service', agencyService()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
