<div>
  <h2 id="page-heading" data-cy="HotelHeading">
    <span jhiTranslate="travelApp.hotel.home.title">Hotels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="travelApp.hotel.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-hotel"
        [routerLink]="['/hotel/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="travelApp.hotel.home.createLabel">Create a new Hotel</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (hotels?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="travelApp.hotel.home.notFound">No Hotels found</span>
    </div>
  }

  @if (hotels && hotels.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="starRating">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.starRating">Star Rating</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactNumber">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.contactNumber">Contact Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="countryCode">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.countryCode">Country Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="cityCode">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.cityCode">City Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imageUrl">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.imageUrl">Image Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="testimonial.id">
              <div class="d-flex">
                <span jhiTranslate="travelApp.hotel.testimonial">Testimonial</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (hotel of hotels; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/hotel', hotel.id, 'view']">{{ hotel.id }}</a>
              </td>
              <td>{{ hotel.name }}</td>
              <td>{{ hotel.address }}</td>
              <td>{{ hotel.starRating }}</td>
              <td>{{ hotel.contactNumber }}</td>
              <td>{{ hotel.email }}</td>
              <td>{{ hotel.countryCode }}</td>
              <td>{{ hotel.cityCode }}</td>
              <td>{{ hotel.imageUrl }}</td>
              <td>
                @if (hotel.testimonial) {
                  <div>
                    <a [routerLink]="['/testimonial', hotel.testimonial.id, 'view']">{{ hotel.testimonial.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/hotel', hotel.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/hotel', hotel.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(hotel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
