<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (aboutUs()) {
      <div>
        <h2 data-cy="aboutUsDetailsHeading"><span jhiTranslate="travelApp.aboutUs.detail.title">About Us</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ aboutUs()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.aboutUs.description">Description</span></dt>
          <dd>
            <span>{{ aboutUs()!.description }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.aboutUs.contactDetails">Contact Details</span></dt>
          <dd>
            <span>{{ aboutUs()!.contactDetails }}</span>
          </dd>
          <dt><span jhiTranslate="travelApp.aboutUs.additionalInfo">Additional Info</span></dt>
          <dd>
            <span>{{ aboutUs()!.additionalInfo }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/about-us', aboutUs()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
