<div>
  <h2 id="page-heading" data-cy="LoyaltyProgramHeading">
    <span jhiTranslate="travelApp.loyaltyProgram.home.title">Loyalty Programs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="travelApp.loyaltyProgram.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loyalty-program"
        [routerLink]="['/loyalty-program/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="travelApp.loyaltyProgram.home.createLabel">Create a new Loyalty Program</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (loyaltyPrograms?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="travelApp.loyaltyProgram.home.notFound">No Loyalty Programs found</span>
    </div>
  }

  @if (loyaltyPrograms && loyaltyPrograms.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyProgram.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyProgram.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pointsPerDollar">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyProgram.pointsPerDollar">Points Per Dollar</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rewardThreshold">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyProgram.rewardThreshold">Reward Threshold</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (loyaltyProgram of loyaltyPrograms; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/loyalty-program', loyaltyProgram.id, 'view']">{{ loyaltyProgram.id }}</a>
              </td>
              <td>{{ loyaltyProgram.name }}</td>
              <td>{{ loyaltyProgram.description }}</td>
              <td>{{ loyaltyProgram.pointsPerDollar }}</td>
              <td>{{ loyaltyProgram.rewardThreshold }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/loyalty-program', loyaltyProgram.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/loyalty-program', loyaltyProgram.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(loyaltyProgram)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
