<div>
  <h2 id="page-heading" data-cy="LoyaltyTransactionHeading">
    <span jhiTranslate="travelApp.loyaltyTransaction.home.title">Loyalty Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="travelApp.loyaltyTransaction.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-loyalty-transaction"
        [routerLink]="['/loyalty-transaction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="travelApp.loyaltyTransaction.home.createLabel">Create a new Loyalty Transaction</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (loyaltyTransactions?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="travelApp.loyaltyTransaction.home.notFound">No Loyalty Transactions found</span>
    </div>
  }

  @if (loyaltyTransactions && loyaltyTransactions.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="date">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyTransaction.date">Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="points">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyTransaction.points">Points</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="transactionType">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyTransaction.transactionType">Transaction Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyTransaction.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customer.id">
              <div class="d-flex">
                <span jhiTranslate="travelApp.loyaltyTransaction.customer">Customer</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (loyaltyTransaction of loyaltyTransactions; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/loyalty-transaction', loyaltyTransaction.id, 'view']">{{ loyaltyTransaction.id }}</a>
              </td>
              <td>{{ loyaltyTransaction.date | formatMediumDate }}</td>
              <td>{{ loyaltyTransaction.points }}</td>
              <td [jhiTranslate]="'travelApp.TransactionType.' + (loyaltyTransaction.transactionType ?? 'null')">
                {{ { null: '', EARNED: 'EARNED', REDEEMED: 'REDEEMED' }[loyaltyTransaction.transactionType ?? 'null'] }}
              </td>
              <td>{{ loyaltyTransaction.description }}</td>
              <td>
                @if (loyaltyTransaction.customer) {
                  <div>
                    <a [routerLink]="['/customer', loyaltyTransaction.customer.id, 'view']">{{ loyaltyTransaction.customer.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/loyalty-transaction', loyaltyTransaction.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/loyalty-transaction', loyaltyTransaction.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(loyaltyTransaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
